# Fish market

### source link : [kaggle]

[kaggle]: kaggle.com/aungpyaeap/fish-market

In [139]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

%matplotlib inline

## Dataset

In [140]:
data = pd.read_csv('../../../Fish.csv')
data.describe()
# Lenght1 = vertical lenght in cm
# Lenght2 = diagonal lenght in cm
# Lenght3 = cross lenght in cm

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [141]:
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [142]:
data.groupby('Species').count()

           Weight  Length1  Length2  Length3  Height  Width
Species
Bream          35       35       35       35      35     35
Parkki         11       11       11       11      11     11
Perch          56       56       56       56      56     56
Pike           17       17       17       17      17     17
Roach          20       20       20       20      20     20
Smelt          14       14       14       14      14     14
Whitefish       6        6        6        6       6      6

## Perch analysis

In [143]:
perch_data = data.loc[data['Species'] == 'Perch']
perch_data.head()

   Species  Weight  Length1  Length2  Length3  Height   Width
72   Perch     5.9      7.5      8.4      8.8  2.1120  1.4080
73   Perch    32.0     12.5     13.7     14.7  3.5280  1.9992
74   Perch    40.0     13.8     15.0     16.0  3.8240  2.4320
75   Perch    51.5     15.0     16.2     17.2  4.5924  2.6316
76   Perch    70.0     15.7     17.4     18.5  4.5880  2.9415

### Prediction

#### training dataset

In [144]:
BATCH_SIZE = 20

In [145]:
# shuffle the dataset
training_data = perch_data.drop(columns=['Species', 'Weight'])
# training_data = training_data.sample(frac=1) # frac=1 = returns all rows TODO: a voir
training_data.head()

    Length1  Length2  Length3  Height   Width
72      7.5      8.4      8.8  2.1120  1.4080
73     12.5     13.7     14.7  3.5280  1.9992
74     13.8     15.0     16.0  3.8240  2.4320
75     15.0     16.2     17.2  4.5924  2.6316
76     15.7     17.4     18.5  4.5880  2.9415

#### target dataset

In [146]:
target_data = perch_data.drop(columns=['Species'])['Weight']
target_data.head()

72     5.9
73    32.0
74    40.0
75    51.5
76    70.0
Name: Weight, dtype: float64

In [147]:
regr = linear_model.LinearRegression()
regr.fit(training_data[:BATCH_SIZE].to_numpy(), target_data[:BATCH_SIZE].to_numpy())

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [187]:
training_data[:BATCH_SIZE].to_numpy().shape[0]

50

In [176]:
target_data[:BATCH_SIZE].to_numpy().shape[0]

50

In [177]:
prediction = regr.predict(training_data[BATCH_SIZE:].to_numpy())
prediction

6

In [185]:
training_data[BATCH_SIZE:].to_numpy()

array([[37.1   , 40.    , 42.5   , 11.135 ,  6.63  ],
       [39.    , 42.    , 44.6   , 12.8002,  6.8684],
       [39.8   , 43.    , 45.2   , 11.9328,  7.2772],
       [40.1   , 43.    , 45.5   , 12.5125,  7.4165],
       [40.2   , 43.5   , 46.    , 12.604 ,  8.142 ],
       [41.1   , 44.    , 46.6   , 12.4888,  7.5958]])

In [157]:
# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(training_data[BATCH_SIZE:].to_numpy(), prediction))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'
      % r2_score(training_data[BATCH_SIZE:].to_numpy(), prediction))

# Plot outputs
plt.scatter(training_data[:BATCH_SIZE].to_numpy(), target_data[:BATCH_SIZE].to_numpy(),  color='black')
plt.plot(training_data[BATCH_SIZE:].to_numpy(), prediction, color='blue', linewidth=3)

plt.xticks(())
plt.yticks(())

plt.show()

Coefficients:
 [  58.37838201 -119.0194149    53.67508168   55.26532358  116.56839287]

ValueError: y_true and y_pred have different number of output (5!=1)